---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <section class='container mx-auto max-w-screen-lg mt-10 px-8'>
    <div
      class='flex flex-col items-center justify-items-center text-center gap-6'>
      <img
        src='/src/assets/svgs/not-found.svg'
        alt=''
        width='300'
        height='300'
        class='mt-10 max-w-full'
      />
      <h2 class='text-6xl font-bold'>404</h2>
      <h1 class='text-2xl'>Page Not Found</h1>
      <p class='text-xl'>
        Sorry, we couldn't find the page you were looking for.
      </p>
      <a href='/' class='inline-block mb-6 hover:text-violet-500'>
        Go Back Home
      </a>
    </div>
  </section>
</MainLayout>
