---
import MainLayout from '../layouts/MainLayout.astro';
import SearchForm from '../components/SearchForm.astro';

import { otherArticles, recentArticle } from '../utils/getArticles';
import { HOMEPAGE_ARTICLE_LIMIT } from '../constants';
import Card from '../components/Card.astro';
import RecentArticle from '../components/RecentArticle.astro';
---

<MainLayout>
  <div class='grid grid-cols-1 gap-5 lg:grid-cols-2'>
    <div class='text-pretty'>
      <h1
        class='text-4xl sm:text-5xl font-bold mt-4 mb-8 leading-tight xl:text-6xl'>
        Articles, Stories & Tutorials for Tech Enthusiasts
      </h1>
      <SearchForm />
    </div>
    <RecentArticle article={recentArticle} />
  </div>
  <div class='grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3'>
    {
      otherArticles
        .slice(0, HOMEPAGE_ARTICLE_LIMIT)
        .map((article) => <Card article={article} />)
    }
  </div>
</MainLayout>
